:root {
    --theme-color: #009fa8;
    --disabled-theme-color: #006f75;
    --theme-forecolor: white;
    --disabled-theme-forecolor: #c5c5c5;
}

body {
    width: 300px;
    padding: 10px;
    font-family: Arial, sans-serif;
}

button {
    width: 100%;
    padding: 8px 0;
    border-radius: 4px;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--theme-color);
    color: var(--theme-forecolor)
}

button:disabled {
    background-color: var(--disabled-theme-color);
    color: var(--disabled-theme-forecolor);
    cursor: default;
}

p {
    text-align: center;
    color: red;
    font-size: 12px;
    margin-bottom: 0;
}

.tip {
    color: var(--theme-color);
}

.github-ico {
    color: var(--theme-color);
    transition: all 0.5s ease-in-out;
}

.title {
    font-size: 20px;
}